<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Login/Signup Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class ="container-title">
        <!-- Título -->
        <div id="dashboard" class="form-box dashboard">
            <h1>Control System!</h1>
            <!-- <button id="logout-btn" class="btn">Logout</button> -->
        </div>
    </div>

    <div class ="container-music">
        <!-- Cuadro para la música -->

        <div class="line1">
            <h2 id="song-name">Song Title</h2>
            <p id="song-artist">Artist Name</p>
        </div>

        <div class="line2">
            <button type="left" id="left-btn" class="left-btn">
                <i class="fa-solid fa-angle-left"></i>
            </button>

            <button type="play" id="play-btn" class="play-btn">
                <i id="play-icon" class="fa-regular fa-circle-play"></i>
            </button>

            <button type="right" id="right-btn" class="right-btn">
                <i class="fa-solid fa-angle-right"></i>
            </button> 
        </div>

        <div class="line3">
            <button type="high" id="high-btn" class="high-btn">
                <i class="fa-solid fa-volume-high"></i>
            </button>

            <button type="low" id="low-btn" class="low-btn">
                <i class="fa-solid fa-volume-low"></i>
            </button>

            
        </div>
    </div>

    <div class ="container-leds">
        <!-- Cuadro para ver el estado de los leds -->

        <p id="leds-info">LEDs Status</p>
        <hr> <!-- Línea horizontal para separar el título del contenido -->
    </div>

    <div class ="container-sensors">
        <!-- Cuadro para ver el estado de los sensores -->

        <p id="sensors-info">Sensors Status</p>
        <hr> <!-- Línea horizontal para separar el título del contenido -->
    </div>


    <div class ="container-control">
        <!-- Cuadro para el modo de control -->

        <!-- Botones para escoger el modo -->
         <div class="line4">
            <button  type="manual" id="manual-btn" class="btn">Manual Mode</button>
            <button onclick="changeColor()" type="automatic" id="automatic-btn" class="btn">Automatic Mode</button>
        </div>

        <!-- Botones para controlar el robot de forma manual -->
        <div class="line5">
            <button type="forward" id="forward-btn" class="control-btn">
                <i class="fa-solid fa-arrow-up-long"></i>
            </button>
        </div>
        
        <div class="line6">
            <button type="left" id="left-control-btn" class="control-btn">
                <i class="fa-solid fa-arrow-left-long"></i>
            </button>

            <button type="stop" id="stop-btn" class="control-btn">
                <i id="stop-icon" class="fa-solid fa-stop"></i>
            </button>

            <button type="right" id="right-control-btn" class="control-btn">
                <i class="fa-solid fa-arrow-right-long"></i>
            </button>
        </div>

        <div class="line7">
            <button type="backward" id="backward-btn" class="control-btn">
                <i class="fa-solid fa-arrow-down-long"></i>
            </button>   
        </div>
    </div>

    <div class ="container-map">
        <!-- Cuadro para ver el mapa -->
        <p id="map-info">Map</p>
        <hr> <!-- Línea horizontal para separar el título del contenido -->
        <div id="map-grid"></div> <!-- cuadrícual para el mapa -->
    </div>
    
</body>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</html>     