<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Login/Signup Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class ="container-title">
        <!-- Título -->
        <div id="dashboard" class="form-box dashboard">
            <h1>Control System!</h1>
            <!-- <button id="logout-btn" class="btn">Logout</button> -->
        </div>
    </div>

    <div class ="container-music">
        <!-- Cuadro para la música -->

        <div class="line1">
            <h2 id="song-name">Song Title</h2>
            <p id="song-artist">Artist Name</p>
        </div>

        <div class="line2">
            <button type="left" id="left-btn" class="left-btn">
                <i class="fa-solid fa-angle-left"></i>
            </button>

            <button type="play" id="play-btn" class="play-btn">
                <i id="play-icon" class="fa-regular fa-circle-play"></i>
            </button>

            <button type="right" id="right-btn" class="right-btn">
                <i class="fa-solid fa-angle-right"></i>
            </button> 
        </div>

        <div class="line3">
            <button type="high" id="high-btn" class="high-btn">
                <i class="fa-solid fa-volume-high"></i>
            </button>

            <button type="low" id="low-btn" class="low-btn">
                <i class="fa-solid fa-volume-low"></i>
            </button>

            
        </div>
</body>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</html>     