<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Login/Signup Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class ="container-title">
        <!-- Título -->
        <div id="dashboard" class="form-box dashboard">
            <h1>Control System!</h1>
            <!-- <button id="logout-btn" class="btn">Logout</button> -->
        </div>
    </div>

    <div class ="container-music">
        <!-- Cuadro para la música -->
         
    </div>
</body>
</html>     